:root {
    --green-one: #132A13;
    --green-two: #31572C;
    --green-three: #4F772D;
    --green-four: #90A955;
    --green-five: #ECF39E;
    --Monty: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.container {
    width: 80%;
}

.wrapper {
    border-radius: 30px;
    box-shadow: -0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none
}

.section-one {
    padding-top: 20px;
    /* background-color: #ecf39e;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%2390a955' fill-opacity='0.18' fill-rule='evenodd'/%3E%3C/svg%3E"); */
    min-width: min-content;
    border-bottom: 1px solid black;
    background-color: #ECF39E;
}

.main-nav {
    background: white;
    margin: 0 40px;
    padding: 10px 20px;
    border: 1px solid var(--green-one);
    border-radius: 25px;
    justify-content: space-between;
    align-items: center;
}

.logo > p {
    color: var(--green-one);
    font-family: var(--Monty);
    font-weight: 600;
    font-size: 1.5rem;
}

.logo > svg {
    width: 1.5rem;
    color: var(--green-four);
}

.nav-items {
    font-family: var(--Monty);
    font-weight: 400;
}

.nav-item {
    list-style: none;
}

.nav-item > a {
    color:black;
    text-decoration: none;
    margin: 0 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 60px;
}

.intro-container {
    /* width: 80%; */
    min-width: min-content;
    justify-content: space-between;
    margin: 0 auto;
    gap: 50px;
}

.intro {
    max-width: 500px;
} 

.intro > h1{
    color: var(--green-one);
    font-family: var(--Monty);
    text-transform: capitalize;
    font-size: 2.7rem;
    margin-bottom: 20px;
}

.intro .light {
    color: var(--green-four);
}

.intro > p {
    font-family: var(--Monty);
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 500;
}

.intro > svg {
    width: 30px;
    border-radius: 50%;
    padding: 5px;
    box-sizing: content-box;
    background-color: #132A13;
    color: var(--green-five);
    margin: 20px 0;
}

.phone-image-container {
    min-width: 250px;
    max-width: 40%;
    align-items: center;
    /* border: 1px solid black; */
}

.phone-image-wrapper {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.phone-image{
    max-width: 100%;
    /* background: pink; */
}

/* .section-one {
    display: none;
} */

.section-two {
    margin: 20px auto;
    border: 1px solid black;
    font-family: var(--Monty);
}

.specs {
    width: 60%;
    /* min-width: 305px; */
    flex-wrap: wrap;
    border: 1px solid red;
    gap: 10%;
}

.section-two .wrapper {
    padding: 8%;
    aspect-ratio: 1 / 1;
    width: 45%;
    min-width: 120px;
    margin-bottom: 10%;
}

.section-two svg {
    color: var(--green-three);
    width: 30px;
}

.specs p {
    font-size: 0.7rem;
}
